<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="assets/css/styles.css" />
  </head>
  <body>
<div id='signup'>

    Password :
    <input class='sign' type="password"  ng-model="form.password" />
    <br/> Date of Birth :
    <input class='sign' type="date of birth"  ng-model="form.birthDate" />
    <br/> Email :
    <input class='sign' type="email"  ng-model="form.email" />
    <br/> Telephone:
    <input class='sign' type="telephone" ng-model="form.contactNumber" />
    <br/> nationality :
    <input class='sign' type="address"  ng-model="form.nationality" />
    <br/>
    <button class="medium secondary button" ng-click="signUp()">signUp</button>
</div>
</body>
</html>