
h1{
    text-align:center;
    position: relative;
    margin: auto;
    padding-bottom:15px;
}
table{
    padding-top:50px;
    text-align:center;
    position: relative; 
    margin: auto;
    width: 90%;
    padding: 15px;
    border-collapse: collapse;
}
th{
  font-size: larger;
  font-weight: bolder;
  font-family: monospace;
  background-color: blue;
  color: white;
  border-bottom: 1px solid #bbb;
}
td{
  font-family: monospace;
  color:blue;
  border-bottom: 1px solid #bbb;
}
#tablec{
  overflow-x:auto;
  overflow-y:auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover{background-color:#d1d1d1;}