<!DOCTYPE html>
<html ng-app="flightApp">
    <head>
      <link rel="stylesheet" href="css/table.CSS">
      <link rel="shortcut icon" href="img/s.ico" />
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
      <script type="text/javascript" src="js/Flights.js"></script>
    </head>
    <title>Landings</title>
     <body style="background-image: url('img/home.png')">
    <div id="1">
        <h1>
            Landings
        </h1>
    </div>
    <div id="tablec">
        <table>
            <thead>
            <th>Flight Number</th>
            <th>Arriving from</th>
            <th>Landing In</th>
            <th>Arrival status</th>
            </thead>
            <tbody ng-controller="FlightListController as list">
            <tr ng-repeat="flight in list.ingoing">
                <td>{{ingoing}}</td>
                <td>{{ingoing}}</td>
                <td>{{ingoing}}</td>
                <td>{{ingoing}}</td>
            </tr>
            </tbody>
         </table>
    </div>
</html>